.footer-nav {
    min-height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #3984ba;
    .nav-btn{
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
}