.form-btn {
    border-radius: 4px;
    border: 0 solid transparent;
    display: inline-block;
    background-color: $blue;
    padding: 4px 12px;
    font-size: 16px;
    color: #fff;
    transition: background-color 0.25s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
        background-color: $blue-dark;
    }
    &:after {
        border-radius: 2px;
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $green;
        transform: translateX(-100%);
        // animation: buttonLoad 1.5s ease 0s infinite forwards;
    }
    &.loading {
          &:after {
            animation: buttonLoad 1.5s ease 0s infinite forwards;
        }
    }
}

@keyframes buttonLoad {
    0% {transform: translateX(-100%)}
    100% {transform: translateX(100%)}
}