.site-constraint {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content-section {
    width: 100%;
    padding: 1px 15px;
}

.main-content {
    height: calc(100vh - 112px);
    overflow: scroll;
}