header {
    width: 100%;
    background: #1ea8ff;
    padding: 15px;
    position: relative;
    h1 {
        margin: 0;
        color: #fff;
        font-size: 28px;
    }
    .main-nav {
        height: auto;
        position: absolute;
        right: 0;
        top: 50%;
        padding:  15px;
        transform: translateY(-50%);
    }
     .nav-btn {
        margin-right: 5px;
    }
}