.list-container {
    border-radius: 4px;
    display: block;
    width: 100%;
    max-width: 500px;
    background: transparent;
    margin: 40px auto;
    padding: 0;
    list-style: none;
    font-size: 14px;
    @media (min-width: 700px){
        font-size: 16px;
    }
    li {
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
        padding: 16px 16px 8px;
        margin-bottom: 20px;
        position: relative;
        color: #333;
        cursor: text;
        >div {
            padding-bottom: 8px;
            > h3 {
                min-height: 1.125em;
            }
            > p {
                min-height: 1rem;
            }
        }
        button {
            margin-right: 8px;
        }
        input {
            color: inherit;
            width: 100%;
            border: none;
            padding: 0;
            margin: 0;
            &:focus {
                outline: none;
            }
        }
        .check-btn {
            position: absolute;
            right: calc(0px - 11px);
            top: calc(0px - 11px);     
        }
    }
    .delete-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
    }
}